# docker-compose.yml
services:
  chainsaw:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: "C:\\workspace"
    volumes: 
      - "C:\\admin\\evtx-watchdog:C:\\workspace:rw"
      
    command: ["C:\\Python\\python.exe", "C:\\workspace\\scripts\\scan_and_report.py"]
    #command: ["powershell", "-NoExit"] # デバッグ用：PowerShell を起動したままにする
    restart: "no"

    environment:
      # ====== 入力フォルダ / 出力フォルダ ======
      EVTX_ROOT: "C:\\workspace\\evtx"
      REPORTS_DIR: "C:\\workspace\\reports"

      # ====== Chainsaw 引数 ======
      CHAINSAW_EXE: "C:\\chainsaw\\chainsaw.exe"
      CHAINS_FORMAT: "csv"               # --csv | --json | --log
      CHAINS_LEVELS: "critical,high"     # 例: "critical,high,medium"（空で全レベル）
      FROM: "" # 例: "2025-11-21T00:00:00"
      TO: ""    # 例: "2025-11-22T00:00:00"

      # ====== ルール / マッピング ======
      SIGMA_DIR: "C:\\workspace\\sigma\\sigma-master"      # Sigma ルールディレクトリ
      MAPPING_YML: "C:\\workspace\\mappings\\sigma-event-logs-all.yml"
      CHAINS_RULE_DIR: "C:\\workspace\\rules\\account_brute_force.yml"     # オプション

      # ====== メール設定（検出あり時のみ送信） ======
      SMTP_HOST: "ccmail.kyoto-su.ac.jp"
      SMTP_PORT: "25"
      SMTP_TLS: "false"                   # true -> STARTTLS / false -> 平文
      #SMTP_USER: "alert_sender"
      #SMTP_PASS: "REPLACE_WITH_SECRET"
      MAIL_FROM: "center-windows@cc.kyoto-su.ac.jp"
      #MAIL_TO: "center-windows@cc.kyoto-su.ac.jp"  # カンマ区切り
      MAIL_TO: "oikaze-ml@cc.kyoto-su.ac.jp"  # カンマ区切り
      #MAIL_TO: "kshinjo@cc.kyoto-su.ac.jp"  # カンマ区切り

      # ====== ログの詳細 ======
      QUIET: "false"                      # true -> Chainsaw の情報出力を抑止(-q)
